@{
    ViewBag.Title = "忘記密碼確認";
}
<div class="row">
    <div class="col-lg-8">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-tasks"></i>
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="widget-content">
                <div>
                    <p>
                        請檢查電子郵件以重設密碼。
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

	
