@{
    ViewBag.Title = "重設密碼確認";
}

<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-tasks"></i>
                <h3>>@ViewBag.Title</h3>
            </div>
            <div class="widget-content">
                <div>
                    <p>
                        您的密碼已重設。請 @Html.ActionLink("按一下這裡登入", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                    </p>
                </div>
            </div>
        </div>


    </div>
</div>
