
@{
    ViewBag.Title = "Accordions";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-title">Accordion <small>Simple and toggle accordion</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-tasks"></i>
                <h3>Simple accordion</h3>
            </div>
            <div class="widget-content">
                <div id="accordion2" class="panel-group">
                    <div class="panel">
                        <div class="panel-heading"> <a href="#collapseOne" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #1 </a> </div>
                        <div style="height: 0px;" class="panel-collapse collapse" id="collapseOne">
                            <div class="panel-body">Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a href="#collapseTwo" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #2 </a> </div>
                        <div class="panel-collapse collapse" id="collapseTwo" style="height: 0px;">
                            <div class="panel-body">Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a href="#collapseThree" data-parent="#accordion2" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #3 </a> </div>
                        <div class="panel-collapse collapse" id="collapseThree" style="height: 0px;">
                            <div class="panel-body">Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-ok-sign"></i>
                <h3>Toggle accordion</h3>
            </div>
            <div class="widget-content">
                <div id="accordion3" class="panel-group">
                    <div class="panel">
                        <div class="panel-heading"> <a href="#collapseOneTwo" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #1 </a> </div>
                        <div class="panel-collapse collapse" id="collapseOneTwo" style="height: 0px;">
                            <div class="panel-body">Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a href="#collapseTwoTwo" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #2 </a> </div>
                        <div class="panel-collapse collapse" id="collapseTwoTwo" style="height: 0px;">
                            <div class="panel-body">Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</div>
                        </div>
                    </div>
                    <div class="panel">
                        <div class="panel-heading"> <a href="#collapseThreeTwo" data-toggle="collapse" class="accordion-toggle collapsed"> Collapsible Group Item #3 </a> </div>
                        <div class="panel-collapse collapse" id="collapseThreeTwo">
                            <div class="panel-body">Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

