
@{
    ViewBag.Title = "Dropzone File Upload";
}

@section pagelevelcss{
    <link href="/Content/style/dropzone.css" rel="stylesheet">
}
@section pagelevelscripts{
    <script src="/Content/javascript/dropzone.js"></script> 
}
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-title">Dropzone File Upload  <small>dropzone upload sample</small></h2>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-external-link"></i>
                <h3> Dropzone File Upload</h3>
            </div>
            <div class="widget-content">

                <div class="panel-body">
                    <div class="alert alert-warning">
                        Please note that demo server is not configured to save uploaded files, therefore you may get an error message.
                    </div>
                    <form id="my-awesome-dropzone" class="dropzone dz-clickable" action="/file-upload"><div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
                </div>


            </div>
        </div>
    </div>
</div>
