
@{
    ViewBag.Title = "Tabs";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-title">Tabs <small>Tabs-enabled widget and more</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-arrow-down"></i>
                <h3>Tabs inside of the body</h3>
            </div>
            <div class="widget-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
                    <li class=""><a data-toggle="tab" href="#profile">Profile</a></li>
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a data-toggle="tab" href="#dropdown3">@@fat</a></li>
                            <li><a data-toggle="tab" href="#dropdown4">@@mdo</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div id="home" class="tab-pane fade active in">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                    </div>
                    <div id="profile" class="tab-pane fade">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                    </div>
                    <div id="dropdown3" class="tab-pane fade">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                    </div>
                    <div id="dropdown4" class="tab-pane fade">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-arrow-up"></i>
                <h3>Tabs on the bottom</h3>
            </div>
            <div class="widget-content">
                <div class="tabbable tabs-below">
                    <div class="tab-content" id="myTabContentbottom">
                        <div id="home-bottom" class="tab-pane fade">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                        <div id="profile-bottom" class="tab-pane fade">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                        <div id="dropdown3-bottom" class="tab-pane fade in active">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                    </div>
                    <ul class="nav nav-tabs " id="myTabbottom">
                        <li><a data-toggle="tab" href="#home-bottom">Home</a></li>
                        <li><a data-toggle="tab" href="#profile-bottom">Profile</a></li>
                        <li class="active"><a data-toggle="tab" href="#dropdown3-bottom">Search</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-arrow-right"></i>
                <h3>Tabs on the left</h3>
            </div>
            <div class="widget-content">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs" id="myTabLeft">
                        <li><a data-toggle="tab" href="#home-left">Home</a></li>
                        <li class="active"><a data-toggle="tab" href="#profile-left">Profile</a></li>
                        <li><a data-toggle="tab" href="#dropdown3-left">Search</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContentLeft">
                        <div id="home-left" class="tab-pane fade">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                        <div id="profile-left" class="tab-pane fade in active">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                        <div id="dropdown3-left" class="tab-pane fade">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-arrow-left"></i>
                <h3> Tabs on the right</h3>
            </div>
            <div class="widget-content">
                <div class="tabbable tabs-right">
                    <ul class="nav nav-tabs" id="myTabright">
                        <li><a data-toggle="tab" href="#home-right">Home</a></li>
                        <li class="active"><a data-toggle="tab" href="#profile-right">Profile</a></li>
                        <li><a data-toggle="tab" href="#dropdown3-right">Search</a></li>
                    </ul>
                    <div class="tab-content" id="myTabContentright">
                        <div id="home-right" class="tab-pane fade">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                        <div id="profile-right" class="tab-pane fade in active">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                        <div id="dropdown3-right" class="tab-pane fade">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque in pretium dui. Cras commodo, neque non mollis tempor, dolor tellus ornare ipsum, eu luctus orci magna quis nibh. Donec luctus augue ac sem lacinia, at volutpat augue commodo. Duis aliquet rhoncus magna eu porttitor. Nulla sit amet justo lectus. Donec non tincidunt tellus, mollis venenatis lorem. Mauris sed commodo libero. Mauris interdum mollis enim, quis posuere erat rutrum sit amet. Curabitur at fermentum diam, nec bibendum risus. Mauris condimentum nibh ut gravida ornare. Morbi ornare, elit vitae vestibulum vehicula, neque nunc elementum tortor, vel pulvinar felis enim a neque. Donec malesuada congue orci in ornare.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

