@{
    ViewBag.Title = "About";
}
<div class="widget">
    <div class="widget-header">
        <i class="icon-question-sign"></i>
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="widget-content">
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </div>
</div>