@{
    ViewBag.Title = "登入失敗";
}

<div class="row">
    <div class="col-lg-8">
        <div class="widget">
            <div class="widget-header">
                <i class="text-danger icon-remove-signs"></i>
                <h3>@ViewBag.Title</h3>
            </div>
            <div class="widget-content">
                <h3 class="text-danger">服務的登入失敗。</h3>
            </div>
        </div>
    </div>
</div>