<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ediuxcity.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ediuxcity.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ediuxcity</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ediuxcity</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AspNetDbEntities2" Order="1" Enabled="False">
          <Destination Path="Data Source=iwz7igxs84.database.windows.net;Initial Catalog=ediuxplatform_db;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=!QAZ2wsx;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EdiuxTemplateWebApp.Models.AspNetModels.AspNetDbEntities2, EdiuxTemplateWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:iwz7igxs84.database.windows.net,1433;Initial Catalog=EdwardCloudSystem;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iwz7igxs84.database.windows.net;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=ediuxcity;Password=!QAZ2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=iwz7igxs84.database.windows.net;initial catalog=aspnetdb;persist security info=True;user id=ediuxcity;password=!QAZ2wsx;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="AspNetDbEntities" Order="3" Enabled="False">
          <Destination Path="Data Source=iwz7igxs84.database.windows.net;Initial Catalog=ediuxplatform_db;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=!QAZ2wsx;Connect Timeout=30;Encrypt=True" Name="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=iwz7igxs84.database.windows.net;Initial Catalog=ediuxplatform_db;Persist Security Info=True;User ID=ediuxcity;Password=!QAZ2wsx;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\AspNetDbEntities_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="metadata=res://*/Models.ApplicationLevelModels.ApplicationDbModel.csdl|res://*/Models.ApplicationLevelModels.ApplicationDbModel.ssdl|res://*/Models.ApplicationLevelModels.ApplicationDbModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=iwz7igxs84.database.windows.net;initial catalog=ediuxplatform_db;persist security info=True;user id=ediuxcity;password=!QAZ2wsx;multipleactiveresultsets=True;application name=EntityFramework&quot;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AspNetDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ApplicationLevelModels.ApplicationDbModel.csdl|res://*/Models.ApplicationLevelModels.ApplicationDbModel.ssdl|res://*/Models.ApplicationLevelModels.ApplicationDbModel.msl;provider=System.Data.SqlClient;provider connection string="data source=iwz7igxs84.database.windows.net;initial catalog=ediuxplatform_db;integrated security=False;user id=ediuxcity@iwz7igxs84;password=!QAZ2wsx;connect timeout=30;encrypt=True;MultipleActiveResultSets=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AspNetDbEntities2-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AspNetModels.aspnetdb.csdl|res://*/Models.AspNetModels.aspnetdb.ssdl|res://*/Models.AspNetModels.aspnetdb.msl;provider=System.Data.SqlClient;provider connection string="Data Source=iwz7igxs84.database.windows.net;Initial Catalog=ediuxplatform_db;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=!QAZ2wsx;Connect Timeout=30;Encrypt=True"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:iwz7igxs84.database.windows.net,1433;Initial Catalog=EdwardCloudSystem;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>