<?xml version="1.0" encoding="utf-8"?>
<!--
此檔案是由您 Web 專案的發行/封裝處理程序所使用。您可以編輯此 MSBuild 檔案，
以自訂此處理程序的行為。若要深入了解，請造訪 http://go.microsoft.com/fwlink/?LinkID=208121。
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ediuxcity.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ediuxcity.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ediuxcity</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ediuxcity</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AspNetDbEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:iwz7igxs84.database.windows.net,1433;Initial Catalog=EdwardCloudSystem;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Connect Timeout=30;Encrypt=True" Name="Server=tcp:iwz7igxs84.database.windows.net,1433;Database=EdwardCloudSystem;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="EdiuxTemplateWebApp.Models.AspNetDbEntities, EdiuxTemplateWebApp" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:iwz7igxs84.database.windows.net,1433;Initial Catalog=EdwardCloudSystem;Integrated Security=False;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Connect Timeout=30;Encrypt=True" Name="Server=tcp:iwz7igxs84.database.windows.net,1433;Database=EdwardCloudSystem;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=192.168.12.77;Initial Catalog=aspnetdb;Persist Security Info=True;User ID=sa;Password=!QAZ2wsx" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=192.168.12.77;initial catalog=aspnetdb;persist security info=True;user id=sa;password=!QAZ2wsx;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AspNetDbEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.ApplicationDbModel.csdl|res://*/Models.ApplicationDbModel.ssdl|res://*/Models.ApplicationDbModel.msl;provider=System.Data.SqlClient;provider connection string="Server=tcp:iwz7igxs84.database.windows.net,1433;Database=EdwardCloudSystem;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Trusted_Connection=False;Encrypt=True;Connection Timeout=30"</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Server=tcp:iwz7igxs84.database.windows.net,1433;Database=EdwardCloudSystem;User ID=ediuxcity@iwz7igxs84;Password=2wsx#edc;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>