
@{
    ViewBag.Title = "Buttons";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-title">Icons <small>Statistics and more</small></h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <h3>Button options</h3>
            </div>
            <div class="widget-content">
                <div class="doc-buttons"> <a class="btn btn-s-md btn-default" href="#">Default</a> <a class="btn btn-s-md btn-primary" href="#">Primary</a> <a class="btn btn-s-md btn-success" href="#">Success</a> <a class="btn btn-s-md btn-info" href="#">Info</a> <a class="btn btn-s-md btn-warning" href="#">Warning</a> <a class="btn btn-s-md btn-danger" href="#">Danger</a> </div>
                <h4 class="m-t">Button size</h4>
                <p> <a class="btn btn-warning btn-lg" href="#">Large button</a> <a class="btn btn-default btn-lg" href="#">Button</a> </p>
                <p> <a class="btn btn-warning" href="#">Default button</a> <a class="btn btn-default" href="#">Button</a> </p>
                <p> <a class="btn btn-warning btn-sm" href="#">Small button</a> <a class="btn btn-default btn-sm" href="#">Button</a> </p>
                <p> <a class="btn btn-warning btn-xs" href="#">Extra small button</a> <a class="btn btn-default btn-xs" href="#">Button</a> </p>
                <h4 class="m-t">Rounded button</h4>
                <div class="doc-buttons"> <a class="btn btn-s-md btn-default btn-rounded" href="#">Default</a> <a class="btn btn-s-md btn-primary btn-rounded" href="#">Primary</a> <a class="btn btn-s-md btn-success btn-rounded" href="#">Success</a> <a class="btn btn-s-md btn-info btn-rounded" href="#">Info</a> <a class="btn btn-s-md btn-warning btn-rounded" href="#">Warning</a> <a class="btn btn-s-md btn-danger btn-rounded" href="#">Danger</a> </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <h3>Button options</h3>
            </div>
            <div class="widget-content">
                <h4 class="m-t-lg">Button dropdowns</h4>
                <p class="text-muted">Single button dropdowns</p>
                <div class="m-b-sm">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-success dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="m-b-sm">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default btn-sm dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <div class="m-b-sm">
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default btn-xs dropdown-toggle">Action <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                </div>
                <h4 class="m-t-lg">Button groups</h4>
                <div class="m-b-sm">
                    <div class="btn-group">
                        <button class="btn btn-default" type="button">Left</button>
                        <button class="btn btn-default" type="button">Middle</button>
                        <button class="btn btn-default" type="button">Right</button>
                    </div>
                </div>
                <p class="text-muted">Vertical button groups</p>
                <div class="btn-group-vertical m-b-sm">
                    <button class="btn btn-default" type="button">Top</button>
                    <button class="btn btn-default" type="button">Middle</button>
                    <button class="btn btn-default" type="button">Bottom</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <h3>Button options</h3>
            </div>
            <div class="widget-content">
                <p class="text-muted">Nested button groups</p>
                <div class="btn-group m-b-sm">
                    <button class="btn btn-default" type="button">1</button>
                    <button class="btn btn-success" type="button">2</button>
                    <button class="btn btn-default" type="button">3</button>
                    <div class="btn-group">
                        <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" type="button"> Dropdown <span class="caret"></span> </button>
                        <ul class="dropdown-menu">
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                            <li><a href="#">Dropdown link</a></li>
                        </ul>
                    </div>
                </div>
                <p class="text-muted">Justified button groups</p>
                <div class="m-b-sm">
                    <div class="btn-group btn-group-justified"> <a class="btn btn-primary" href="#">Left</a> <a class="btn btn-info" href="#">Middle</a> <a class="btn btn-success" href="#">Right</a> </div>
                </div>
                <h4 class="m-t-lg">Button components</h4>
                <p>
                    <button data-toggle="class:btn-success" href="#btn-1" id="btn-1" class="btn btn-default"> <i class="icon-cloud-upload text"></i> <span class="text">Upload</span> <i class="icon-ok text-active"></i> <span class="text-active">Success</span> </button>
                    <button data-toggle="button" class="btn btn-white"> <i class="icon-heart-empty text"></i> <i class="icon-heart text-active text-danger"></i> </button>
                    <button data-toggle="button" class="btn btn-white"> <span class="text"> <i class="icon-thumbs-up text-success"></i> 25 </span> <span class="text-active"> <i class="icon-thumbs-down text-danger"></i> 10 </span> </button>
                </p>
                <div class="m-b-sm">
                    <div data-toggle="buttons" class="btn-group">
                        <label class="btn btn-sm btn-default">
                            <input type="checkbox" id="option1" name="options">
                            option1
                        </label>
                        <label class="btn btn-sm btn-default">
                            <input type="checkbox" id="option2" name="options">
                            option2
                        </label>
                    </div>
                </div>
                <h4 class="m-t-lg"> Social buttons </h4>
                <p id="social-buttons"> <a class="btn btn-rounded btn-sm btn-twitter" href="#"><i class="icon-twitter"></i> Twitter</a> <a class="btn btn-rounded btn-sm btn-facebook" href="#"><i class="icon-facebook"></i> Facebook</a> <a class="btn btn-rounded btn-sm btn-gplus" href="#"><i class="icon-google-plus"></i> Google+</a> </p>
            </div>
        </div>
    </div>
</div>

