
@{
    ViewBag.Title = "General";
}

<div class="row">
    <div class="col-lg-12">
        <h2 class="page-title">General</h2>
    </div>
</div>
<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-warning-sign "></i>
                <h3>Alert </h3>
            </div>
            <div class="widget-content">
                <div class="panel">
                    <div class="panel-body">
                        <div class="alert alert-success alert-block fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                            <h4> <i class="icon-ok-sign"></i> Success! </h4>
                            <p>Best check yo self, you're not looking too good...</p>
                        </div>
                        <div class="alert alert-block alert-danger fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                            <strong>Oh snap!</strong> Change a few things up and try submitting again.
                        </div>
                        <div class="alert alert-success fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                            <strong>Well done!</strong> You successfully read this important alert message.
                        </div>
                        <div class="alert alert-info fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                            <strong>Heads up!</strong> This alert needs your attention, but it's not super important.
                        </div>
                        <div class="alert alert-warning fade in">
                            <button type="button" class="close close-sm" data-dismiss="alert"> <i class="icon-remove"></i> </button>
                            <strong>Warning!</strong> Best check yo self, you're not looking too good.
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-tasks"></i>
                <h3>Progress Bars</h3>
            </div>
            <div class="widget-content">
                <h4>Basic Progress Bars</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete</span>
                    </div>
                </div>
                <h4>Default progress bar</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        <span class="sr-only">60% Complete</span>
                    </div>
                </div>



                <h4>Striped Progress Bars</h4>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                        <span class="sr-only">40% Complete (success)</span>
                    </div>
                </div>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                        <span class="sr-only">20% Complete</span>
                    </div>
                </div>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                        <span class="sr-only">60% Complete (warning)</span>
                    </div>
                </div>
                <div class="progress progress-striped">
                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                        <span class="sr-only">80% Complete (danger)</span>
                    </div>
                </div>

                <h4>Animated progress bar</h4>
                <div class="progress progress-striped active">
                    <div class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                        <span class="sr-only">45% Complete</span>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-tasks"></i>
                <h3>More...</h3>
            </div>
            <div class="widget-content">
                <div class="tabbable tabs-left">
                    <ul id="myTabLeft" class="nav nav-tabs">
                        <li class="active"><a href="#home-left" data-toggle="tab"><i class="icon-home"></i></a></li>
                        <li><a href="#profile-left" data-toggle="tab"><i class="icon-user"></i> About</a></li>
                        <li><a href="#dropdown3-left" data-toggle="tab"><i class="icon-envelope"></i> Contact</a></li>
                    </ul>
                    <div id="myTabContentLeft" class="tab-content">
                        <div class="tab-pane fade" id="home-left">
                            <p>Home</p>
                        </div>
                        <div class="tab-pane fade in active" id="profile-left">
                            <p>About</p>
                        </div>
                        <div class="tab-pane fade" id="dropdown3-left">
                            <p>Contact</p>
                        </div>
                    </div>
                </div>
                <p>&nbsp;</p>
                <nav role="navigation" class="navbar navbar-inverse">
                    <div class="navbar-header">
                        <button data-target=".navbar-ex1-collapse" data-toggle="collapse" class="navbar-toggle" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a href="#" class="navbar-brand">Brand</a>
                    </div>
                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Link</a></li>
                            <li><a href="javascript:;">Link</a></li>
                            <li class="dropdown">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                    <li><a href="#">One more separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="javascript:;">Link</a></li>
                            <li class="dropdown open">
                                <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:;">Dropdown <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <ol style="margin-bottom: 5px;" class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>


                <p>&nbsp;</p>
                <div class="panel">
                    <div id="c-slide" class="carousel slide auto panel-body">
                        <ol class="carousel-indicators out">
                            <li class="" data-slide-to="0" data-target="#c-slide"></li>
                            <li class="active" data-slide-to="1" data-target="#c-slide"></li>
                            <li class="" data-slide-to="2" data-target="#c-slide"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item">
                                <p class="text-center">
                                    <em class="h4 text-mute">First slide label</em><br>
                                    <small class="text-muted">Nulla vitae elit libero, a pharetra augue mollis interdum.</small>
                                </p>
                            </div>
                            <div class="item active">
                                <p class="text-center">
                                    <em class="h4 text-mute">Second slide label</em><br>
                                    <small class="text-muted">Nulla vitae elit libero, a pharetra augue mollis interdum.</small>
                                </p>
                            </div>
                            <div class="item">
                                <p class="text-center">
                                    <em class="h4 text-mute">Third slide label</em><br>
                                    <small class="text-muted">Nulla vitae elit libero, a pharetra augue mollis interdum.</small>
                                </p>
                            </div>
                        </div>
                        <a data-slide="prev" href="#c-slide" class="left carousel-control"> <i class="icon-angle-left"></i> </a> <a data-slide="next" href="#c-slide" class="right carousel-control"> <i class="icon-angle-right"></i> </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="widget">
            <div class="widget-header">
                <i class="icon-tasks"></i>
                <h3>Pagination</h3>
            </div>
            <div class="widget-content">

                <div>
                    <ul class="pagination pagination-lg">
                        <li><a href="#"><<</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>

                <div>
                    <ul class="pagination">
                        <li><a href="#"><<</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>

                <div>
                    <ul class="pagination pagination-sm">
                        <li><a href="#"><<</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">>></a></li>
                    </ul>
                </div>

                <span class="label label-default">Default</span>
                <span class="label label-primary">Primary</span>
                <span class="label label-success">Success</span>
                <span class="label label-info">Info</span>
                <span class="label label-warning">Warning</span>
                <span class="label label-danger">Danger</span>

                <p>&nbsp;</p>
                <div class="panel">
                    <div class="panel-heading"> Modal Dialogs </div>
                    <div class="panel-body">
                        <a href="#myModal" data-toggle="modal" class="btn btn-success"> Dialog </a> <a href="#myModal2" data-toggle="modal" class="btn btn-warning"> Confirm </a> <a href="#myModal3" data-toggle="modal" class="btn btn-danger"> Alert ! </a>

                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
                                        <h4 class="modal-title">Modal Tittle</h4>
                                    </div>
                                    <div class="modal-body"> Body goes here... </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-success">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal2" class="modal fade" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
                                        <h4 class="modal-title">Modal Tittle</h4>
                                    </div>
                                    <div class="modal-body"> Body goes here... </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-warning"> Confirm</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="myModal3" class="modal fade">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">x</button>
                                        <h4 class="modal-title">Modal Tittle</h4>
                                    </div>
                                    <div class="modal-body"> Body goes here... </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"> Ok</button>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


