@model List<Menus>
@{    
    var appInfo = (aspnet_Applications)ViewBag.ApplicationInfo;
}
<ul class="sub-menu">
    @foreach (Menus item in Model)
    {
        <li><a href="@item.aspnet_Paths.Path"><i class="icon-angle-right"></i>@item.Name</a></li>

        if (item.ChildMenus.Any(v => v.Void == false))
        {
            @Html.Partial("_SubMenuBarPartial", item.ChildMenus.ToList())
        }
    }
</ul>